/* .container-products{

} */

.title{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 3rem;
}

/* Search.jsx */
.search-container{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}
.search{
    font-size: 1.5rem;
    border-radius: 15px;
    padding: 0.3rem 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    outline: none;
}

/* AllApiLists.jsx */
.products-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0 2rem;
}

/* AllApiListItem */
.product-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    width: 22rem;
    height: 35rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: none;
    margin: 1rem;
    padding: 1rem;
    position: relative;
}

.product-item-title{
    font-size: 1.5rem;


}

.product-item-image{

    height: 10rem;
}
/* .product-item-image-container{
    /* width: 10rem; */
/* } */ 

.product-item-open{
    font-size: 1.5rem;
    text-decoration: none;

}

/* .product-item-info{

} */
.product-item-price{
    color: red;
    font-size: 1.4rem;
}
.container-foto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 1rem;

}
.foto-goBack{
    border: 1px solid blue;
    padding: 0.5rem;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.foto-title{
    font-size: 1.8rem;
    font-weight: bolder;
}

.foto-width{
    margin-top: 2rem;
    width: 25rem;
}
.foto-price{
    margin-top: 1rem;
    font-size: 3rem;
    color: red;
}
@media(max-width:374px){
    .product-item-image{
        width: 8rem;
    }
    .foto-width{
        margin-top: 2rem;
        width: 20rem;
    }
}


.container-loader{
    display: flex;
    height: 60vh;
    align-items: center;
    margin-top: 5rem;
    justify-content: center;
}

.loader {
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }